.header{
    background-image:url(../images/Hero-bg.png);
    width: 1440px;
    height: 700px;
    justify-content: space-between;
    text-align: center;
    display: block;
    margin: 0 300px;
}
.btn-primary p{
    color:#252432;
    font-family: Raleway;
    font-size: 65px;
    font-weight: bold;
    margin-top: 158px;
    width: 65%;
    text-align: center;
    margin-left: 250px;
}
.header h1{
    color:#4E47FF ;
    font-weight: bold;
    margin-top: 50px;
    
}
.my-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}
.my-header button{
    background-color: #4E47FF;
    color:#fff ;
    width: 132px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}
.my-button{
    background-color: #4E47FF;
    color:#fff ;
    width: 170px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
}
.my-button:hover{
    background-color: #B6DA71;
    color: blue;
    position: relative;
    animation: mymove 2s infinite;
}
.my-header button:hover{
    background-color: #B6DA71;
    color: blue;
}
 
/* main my-action*/
.my-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 110px 160px 110px 140px;
}
.action{
    max-width: 1140px;
    margin-left: 250px;
}
.action h3{
    font-size: 35px;
    color: #252432;
    font-weight: bold;
}
.action p{
    color: #252432;
    width: 300px;
}
.action button{
    background-color: #4E47FF;
    color:#fff ;
    width: 170px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
}
.action button:hover{
    background-color: #B6DA71;
    color: blue;
}
.img{
    max-width: 400px;
    border-radius: 25px;
}

/**   **/
.section-rd{
    background-color: #E0EBDF;
    margin: 110px 160px 110px 400px;
    border-radius: 20px;
 }
.cls-title{
    color: #252432;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}
.main-sec{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.action-user{
    padding: 0px 20px 50px 200px;
}
.action-user h1{
    color: #4E47FF;
    font-size: 50px; 
}
.action-user p{
    margin-top: -35px;
    color: #93A0A3;
}

/**  */
.my-continear{
    text-align: center;
    margin: 110px 160px 110px 400px;
    border-radius: 20px;
}
.three-continer h5{
    font-size: 15px;
    margin-left: 50px;
}
.added{
    margin-left: 10px;
    color: #000;
}
.img-added{
    display: flex;
    justify-content: space-between;
    width: 200px; 
}
.added p{
    color: gray;
    
}
.img-added img{
    border-radius: 50%;
}
.three-continer p{
    margin: 0px 20px;
}
.header-second{
    display: flex;
    justify-content: space-between;
    margin-top: 0px ;
    font-size: 20px;
}
.three-continer{
   background-color: #CAF9DC; 
}
.amrgin{
    margin-right: 15px;
    padding: 15px;
}
.my-continear h1{
    font-size: 40px;
}
/*****/

.ready-focus{
    margin: 110px 160px 110px 400px;
    border-radius: 20px;
    background-color: #CAF9DC; 
    text-align: center;
}
.ready-focus img{
    border-radius: 35px;
}
.ready-focus button{
    background-color: #4E47FF;
    color:#fff ;
    width: 170px;
    height: 48px;
   margin-bottom: 20px;
    border-radius: 10px;
}
.ready-focus button:hover{
    background-color: #B6DA71;
    color: blue;
}

.ready-focus h1{
    padding-top: 50px;
}
.ready-focus p{
    color: #8DA8A2
}

/***/
.from-title{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50px 170px 50px 400px;
    background-color: #D6DDED;
    padding: 50px 0 50px 0;
}
.from-section{
    margin-left: 200px;
}
.from-section button{
    background-color: #4E47FF;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    color: #fff; 
}
.from-section button:hover{
    background-color: #B6DA71;
    color: blue;
}
.from-section input{
    width: 350px;
    height: 35px;
    color: #000;
    border-radius: 10px;
}
.from-section textarea{
    width: 350px;
    height: 110px;
    color: #000;
    border-radius: 10px;
}
.left{
    margin-right: 310px;
    color: #000000;
    font-weight: bold;
}
.from-title h1{
    font-size: 75px;
    margin-left: -150;
}


/** */
.footer-continer{
    
    justify-content: space-between;
    margin: 0px 360px 0px 680px;
}
.footer-continer h1{
    margin-left: 150px;
    color: #4E47FF;
    font-size: 40px;
    font-weight: 1000;
}
.footer-continer p{
    color: #7A897B;
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
    margin: 20px;
}
nav li a{
    text-decoration: none;
    color: #7A897B;
}
nav 









